{% extends 'Adminsite/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container"><br><br>
    <h2 class="text-center"><b>FILL THIS FORM TO ADD NEW INFORMATION</b></h2><br><br>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
                {% if messages %}
                <ul>
                   {% for message in messages %}
                       <li>{{ message }}</li>
                   {% endfor %}
                </ul>
                {% endif %}
            <form action = '' method ='POST'>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{field.errors}}
                    {{field.label_tag}}
                    {{field}}
                </div>
                
                {% endfor %}

            
                <input type ='submit' value ='Submit' class="btn btn-primary">
                </form>
        </div>
    </div>
</div>
{% endblock  %}